name: Build Syncthing

on:
  workflow_call:
  workflow_dispatch:

env:
  # The go version to use for builds. We set check-latest to true when
  # installing, so we get the latest patch version that matches the
  # expression.
  GO_VERSION: "~1.23.0"

  # Optimize compatibility on the slow architectures.
  GOMIPS: softfloat
  GOARM: "5"

  # Avoid hilarious amounts of obscuring log output when running tests.
  LOGGER_DISCARD: "1"

  # Our build metadata
  BUILD_USER: builder
  BUILD_HOST: github.com

  TAGS: "sqlite_omit_load_extension sqlite_dbstat"
  TAGS_LINUX: "sqlite_omit_load_extension sqlite_dbstat netgo osusergo"

# A note on actions and third party code... The actions under actions/ (like
# `uses: actions/checkout`) are maintained by GitHub, and we need to trust
# GitHub to maintain their code and infrastructure or we're in deep shit in
# general. The same doesn't necessarily apply to other actions authors, so
# some care needs to be taken when adding steps, especially in the paths
# that lead up to code being packaged and signed.

jobs:

  #
  # Source
  #

  facts:
    name: Gather common facts
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      release-kind: ${{ steps.get-version.outputs.release-kind }}
      release-generation: ${{ steps.get-version.outputs.release-generation }}
      go-version: ${{ steps.get-go.outputs.go-version }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.ref }} # https://github.com/actions/checkout/issues/882

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
          check-latest: true

      - name: Get Syncthing version
        id: get-version
        run: |
          version=$(go run build.go version)
          echo "version=$version" >> "$GITHUB_OUTPUT"
          echo "Version: $version"

          kind=stable
          if [[ $version == *-rc.[0-9] || $version == *-rc.[0-9][0-9] ]] ; then
            kind=candidate
          fi
          echo "release-kind=$kind" >> "$GITHUB_OUTPUT"
          echo "Release kind: $kind"

          generation=v1
          if [[ $version == v2.* ]] ; then
            generation=v2
          fi
          echo "release-generation=$generation" >> "$GITHUB_OUTPUT"
          echo "Release generation: $generation"
      - name: Get Go version
        id: get-go
        run: |
          go version
          echo "go-version=$(go version | sed 's#^.*go##;s# .*##')" >> $GITHUB_OUTPUT

  #
  # Cross compile linux/arm
  #

  package-cross:
    name: Package cross compiled
    runs-on: ubuntu-latest
    needs:
      - facts
    env:
      VERSION: ${{ needs.facts.outputs.version }}
      RELEASE_KIND: ${{ needs.facts.outputs.release-kind }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.facts.outputs.go-version }}
          cache: false

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ needs.facts.outputs.go-version }}-cross-${{ hashFiles('**/go.sum') }}

      - name: Create packages
        run: |
          go run build.go --goos linux --goarch arm --no-upgrade tar syncthing
          for file in *.tar.gz; do mv "$file" "$(echo "$file" | sed 's/-linux-arm-/-synology-ds213-/')"; done
        env:
          CGO_ENABLED: "0"

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: packages-linux_arm
          path: "*.tar.gz"

  #
  # Push release artifacts to Spaces
  #

  publish-release-files:
    name: Publish release files
    if: github.repository_owner == 'serek4' && github.event_name == 'workflow_dispatch' && startsWith(github.ref, 'refs/tags/v')
    environment: release
    permissions:
      contents: write
    needs:
      - package-cross
      - facts
    env:
      VERSION: ${{ needs.facts.outputs.version }}
      RELEASE_KIND: ${{ needs.facts.outputs.release-kind }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.ref }} # https://github.com/actions/checkout/issues/882

      - name: Download packages
        uses: actions/download-artifact@v4
        with:
          name: packages-linux_arm
          path: packages

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ needs.facts.outputs.go-version }}
          cache: false

      - name: Create GitHub releases and push binaries
        run: |
          export GH_PROMPT_DISABLED=1
          if ! gh release view --json name "$VERSION" >/dev/null 2>&1 ; then
            gh release create "$VERSION" \
              --title "$VERSION" \
              --notes-from-tag
          fi
          gh release upload --clobber "$VERSION" \
            packages/syncthing-*.tar.gz
        env:
          GH_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
